*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primarycolor: #363636;
    --matrixcolor: #222222;
    --textcolor: #ececec;
    --boxshadowcolor1: #797979be;
    --boxshadowcolor2: rgba(0, 0, 0, 0.794);
}
body{
    background-color: var(--primarycolor);
    /* background-image: url('D://matrix.jpg'); */
}
.heading-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    /* margin-top: 0.8rem; */
    background-color: #e4d9ff;
    background-color: var(--primarycolor);
    padding: 2rem;
    /* height: 70%; */
    /* z-index: 0; */
}
.below-heading-container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: absolute;
    top: 8%;
    left: 25%;
    width: 50%;
    /* height: 70%; */
    z-index: -1;
}
.below-heading{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    /* height: 90px; */
    border-top: 22px solid #e1d5ff;
}
.heading{
    color: #273469;
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    overflow: visible;
    width: 45%;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: -30px; */
    /* border-bottom: 2px solid #dacbff;
    border-width: 20px; */
    /* z-index: 1; */
}
.heading-2, .heading-for-selection{
    color: #33427e;
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
}
.heading-for-selection{
    font-size: 1.3rem;
    padding: 5px;
    margin-top: 2.5rem;
    color: #351c74;
    color: var(--textcolor);
}
.container-main, .container-main-select, .container-main-misc-3x3{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px; 
}
.container-main-select{
    margin: 5px;
}
.container-main-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #e4d9ff;
    background-color: var(--matrixcolor);
}
.heading-misc{
    color: #33427e;
    color: var(--textcolor);
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
}

#container-1{
    align-self: center;
}
#container-2{
    display: flex;
    /* border: 2px solid black; */
    height: 100px;
    width: 150px;
}
#container-3, #container-4, #container-5{
    align-self: center;
}
#container-4{
    font-size: 25px;
}
#matrix-selection, #matrix-selection-misc{
    display: flex;
    justify-content: center;
    align-self: center;
}
#operations, #operations-2, #matrix-selection, #misc-operations, #misc-operations-2, #matrix-selection-misc{
    border: 1px solid var(--primarycolor);
    color: var(--textcolor);
    background-color: var(--primarycolor);
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    box-shadow: 0.2rem 0.2rem 10px 0rem #e1d5ff;
    box-shadow: 0.29rem 0.29rem 1rem 0rem var(--boxshadowcolor2), -0.1rem -0.1rem 0.8rem 0rem var(--boxshadowcolor1);
    height: 50px;
    width: 150px;
    align-self: center;
    outline: none;
}

input{
    /* background-color: #e4d9ff; */
    background-color: var(--matrixcolor);
    border: 1px transparent;
    border-radius: 5px;
}
input:focus{
    outline: 2px solid var(--textcolor);
}
input:focus, input:hover{
    /* outline: 2.5px solid #a481ff; */
    box-shadow: 0.08rem 0.08rem 0.35rem 0rem var(--boxshadowcolor2), -0.08rem -0.08rem 0.35rem 0rem var(--boxshadowcolor1);
    transition: box-shadow ease-out 200ms;
}
.container-main-2, .container-main-misc-2x2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 50px; 
}
.grid-container{
    display: grid;
    width: 180px;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: 60px 60px 60px;
    justify-items: center;
    /* border: 1px solid black; */
    /* background-color: #e4d9ff; */
    background-color: var(--matrixcolor);
    border: 1px transparent;
    border-radius: 5px;
    box-shadow: 1rem 0rem 1rem 0rem var(--textcolor), -0.4rem 0rem 0.5rem 0rem var(--textcolor);
    box-shadow: 0.29rem 0.29rem 1rem 0rem var(--boxshadowcolor2), -0.1rem -0.1rem 0.8rem 0rem var(--boxshadowcolor1);
    transition: box-shadow ease-out 300ms;
}
.grid-container:hover{
    /* box-shadow: 1rem 0rem 1rem 0rem var(--textcolor), -0.4rem 0rem 0.5rem 0rem var(--textcolor); */
    box-shadow: 0.4rem 0.4rem 1.4rem 0rem var(--boxshadowcolor2), -0.4rem -0.4rem 1.05rem 0rem var(--boxshadowcolor1);
}
.grid-container-2x2{
    width: 100px;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
}
.grid-items{
    /* border: 1px solid #e4d9ff; */
    border: 1px solid var(--matrixcolor);
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* color: rgb(0, 0, 0); */
    color: var(--textcolor);
    align-self: center;
    width: 90%;
    height: 90%;
    text-align: center;
    /* outline: none; */
}
input::placeholder{
    /* color: rgb(82, 82, 82); */
    font-weight: normal;
    color: var(--textcolor);
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-3x3{
    width: 210px;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    /* box-shadow: 0.4rem 0rem 0.5rem 0rem #c3abff, -0.4rem 0rem 0.5rem 0rem #c3abff; */
    /* transition: all ease-out 500ms; */
}
.change-2x2{
    width: 120px;
    grid-template-columns: 60px 60px;
    grid-template-rows: 60px 60px;
    /* transition: all 2s; */
}
.none{
    display: none;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 33rem){
    .container-main, .container-main-2{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    .none{
        display: none;
    }
    .heading-container, .container-main-3{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 4rem;
        background-color: #e1d5ff;
    }
    .heading, .heading-misc{
        font-size: 1.8rem;
        padding: 0.5rem;
        text-align: center;
    }
    .container-main-misc-2x2, .container-main-misc-3x3{
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        margin: 50px 50px;
    }
}
.container-select{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
}
.drop-down {
    height: 2.5em;
    width: 14em;
    border: 1px transparent;
    border-radius: 10px;
    background-color: aquamarine;
    position: relative;
}
.pos{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0 ,-52%);
}
.select{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    font-family: 'Montserrat', sans-serif;
}
.drop-down:hover{
    cursor: pointer;
}
.drop-down:hover nav{
    visibility: visible;
    transition: visibility 1s linear 200ms;
}
.drop-down:hover ul{
    font-family: 'Montserrat', sans-serif;
    border: 1px transparent;
    border-radius: 10px;
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms linear, visibility 0s linear;
}
.drop-down:hover ul li:hover{
    background-color: blueviolet;
    color: aqua;
}
.drop-down:hover li:first-child{
    border: 1px transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
    transition: opacity ease-out 0.2s;
    transition-delay: 0.1s;
}
.drop-down:hover li:nth-child(2){
    opacity: 1;
    transition: opacity ease-out 0.2s;
    transition-delay: 0.2s;
}
.drop-down:hover li:nth-child(3){
    opacity: 1;
    transition: opacity ease-out .2s;
    transition-delay: 0.4s;
}
.drop-down:hover li:nth-child(4){
    opacity: 1;
    transition: opacity ease-out .2s;
    transition-delay: 0.6s;
}
.drop-down:hover li:nth-child(5){
    opacity: 1;
    transition: opacity ease-out .2s;
    transition-delay: 0.8s;
}
.drop-down:hover li:last-child{
    border: 1px transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
    transition: opacity ease-out .2s;
    transition-delay: 1s;
}
ul{
    list-style-type: none;
    border: 1px transparent;
    border-radius: 10px;
    width: 14em;
    background-color: aquamarine;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms linear, visibility 0s linear 500ms;
}
li{
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    opacity: 0;
}
nav{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    visibility: collapse;
}